
.DS_Store
*.log
Notebooks/wandb/latest-run
*.yaml
*.json
*.wandb
Notebooks/wandb/run-20230811_160725-xqxu0i9w/files/requirements.txt
Notebooks/wandb/run-20230811_170757-5waq4737/files/requirements.txt
Notebooks/wandb/run-20230811_232609-l0b6az3u/files/requirements.txt
Notebooks/wandb/run-20230812_000259-sneqzso0/files/requirements.txt
Notebooks/wandb/run-20230812_000451-drd2mah4/files/requirements.txt
Notebooks/wandb/run-20230812_005851-rg6rllb4/files/requirements.txt
Notebooks/wandb/run-20230812_010027-2orciikq/files/requirements.txt
Notebooks/wandb/run-20230812_042600-q2ii0qbn/files/requirements.txt
Notebooks/wandb/run-20230812_193001-6o4ku0m2/files/requirements.txt
Notebooks/wandb/run-20230812_204559-nbsjz3fw/files/requirements.txt
Notebooks/wandb/run-20230812_214338-2hu0u4v3/files/requirements.txt
Notebooks/wandb/run-20230812_214855-7ded48t3/files/requirements.txt
Notebooks/wandb/run-20230812_215013-0lx7kpjn/files/requirements.txt
Notebooks/wandb/run-20230813_084809-3ununshv/files/requirements.txt
Notebooks/wandb/run-20230813_155625-nes9jjwq/files/requirements.txt
Notebooks/wandb/run-20230813_155635-43d8uet6/files/requirements.txt
Notebooks/wandb/run-20230813_083625-ujzkttif/files/requirements.txt
Notebooks/wandb/run-20230813_155925-8qgoz2i2/files/requirements.txt
Notebooks/wandb/run-20230812_215047-cmxxfbqp/files/requirements.txt
Notebooks/wandb/run-20230812_145047-x6k28og6/files/requirements.txt
Notebooks/wandb/run-20230812_091649-lfk4rghy/files/requirements.txt
Notebooks/wandb/run-20230811_215844-d1whe1at/files/requirements.txt
Notebooks/wandb/run-20230811_173220-yww5jnwq/files/requirements.txt
Notebooks/wandb/run-20230811_160701-qnw7v6vs/files/requirements.txt
Notebooks/wandb/run-20230813_155925-8qgoz2i2/files/model-best.h5
Notebooks/wandb/run-20230813_084809-3ununshv/files/model-best.h5
Notebooks/wandb/run-20230812_215047-cmxxfbqp/files/model-best.h5
Notebooks/wandb/run-20230812_193001-6o4ku0m2/files/model-best.h5
Notebooks/wandb/run-20230812_145047-x6k28og6/files/model-best.h5
Notebooks/wandb/run-20230812_114234-4schq9pq/files/requirements.txt
Notebooks/wandb/run-20230812_091649-lfk4rghy/files/model-best.h5
Notebooks/wandb/run-20230812_042600-q2ii0qbn/files/model-best.h5
Notebooks/wandb/run-20230811_232609-l0b6az3u/files/model-best.h5
Notebooks/wandb/run-20230811_173220-yww5jnwq/files/model-best.h5
Notebooks/wandb/run-20230811_170757-5waq4737/files/model-best.h5
Notebooks/wandb/run-20230811_160725-xqxu0i9w/files/model-best.h5
Notebooks/model.h5
